<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCLoginForm:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMVCLoginForm.war">
      <element id="artifact" artifact-name="SpringMVCLoginForm:war exploded" />
    </root>
  </artifact>
</component>